@charset "UTF-8";
/* CSS Document */
/*
 * (es) Estilos principales
 * (en) central stylesheet
 * 
 * @creator Susana Aguirre
 * @file styles.css
 * @ 05/09/2013
 * 
 */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, html {
	line-height: 1;
	width: 100%;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************
 * @general stuffs
*************************************/
.hidden { position:absolute; left: -999em; /*LTR*/ top: -999em; }
.clear { clear: both; }
.btn { display: block; }
strong, b, em { font-weight:bold; }
a, select, input, textarea, .btn { outline: none; }
a { text-decoration: none; color: #d3d3d3; }
sup { font-size: 8px; vertical-align: super; }
.underlined { text-decoration: underline; }


/*  ------------------  botones  ------------------- */
.btn { display: block; }
.btnGreen { padding: 9px 68px; }
.btnSeeMore { width: 45px; height: 45px; }


/*  ------------------  menus  ------------------- */
.menuHorizontal { width: auto; }
.menuHorizontal li, .menuHorizontal li a { display: block; }
.menuHorizontal li { float: left; }

.separator { display: block; float: left; width: 1px; height: 100%; }

#header .menuHorizontal li a:hover, #header .menuLogin a:hover { color: #7bd24b; }

/*  ------------------  listas  ------------------- */


/*  ------------------  formularios  ------------------- */



/*************************************
 * @web style
*************************************/
body { color: #c9c9c9; font-family: Verdana, Geneva, sans-serif; font-size: 100%; font-style: normal; font-weight: normal; background:#000; }
#wrapper { /*min-height: 1312px;*/ margin: 0 auto; background:#000; padding-bottom: 46px; }
#wrapper, #footer { width: 1280px; }


/*  ------------------  header  ------------------- */
#header, #header .logoContainer { height: 150px; }
#header { background: #181818 url(../img/bg_header1.jpg); overflow: hidden; }
#header .container { float: left; }
#header .logoContainer { width: 320px; }
#header .topContainer, #header .bottomContainer { width: 830px; padding: 0 20px 0 110px; }
#header .topContainer { height: 80px; }
#header .bottomContainer { height: 70px; }

#header .logoContainer a, #header .logoContainer a img { display: block; width: 230px; height: 90px; }
#header .logoContainer a { margin: 28px 0 0 38px; }

#header .topContainer div, #header .topContainer .menuLogin { float: left; margin-top: 27px; height: 35px; }
	#header .menuSearch { width: 380px; }
	#header .menuLogin { width: 180px; padding-left: 25px; }
	#header .menuApps { width: 242px; }

	#header .menuSearch label { width: 100px; font-family: 'HelveticaNeueBoldCondensed','YanoneBold',Helvetica,sans-serif; line-height: 41px; }
	#header .menuSearch input { float: right; margin-top: 5px; width: 220px; height: 25px; padding: 0 10px; background-color: #ffffff; border: 1px solid #919191; color: #747474; }
	
	#header .menuLogin li, #header .menuLogin li a { font-size: 14px; height: 35px; line-height: 35px; }
	#header .menuLogin .separator { background-color: #a1c637; margin: 0 20px; }

	/* para el efecto subrayado */
	/*#header .menuLogin li { padding-top: 2px; }
	#header .menuLogin li a { line-height: 31px; }*/

	#header .menuApps { width: auto; float: right !important; }
	#header .menuApps .logoStore { display: none; }
	#header .menuApps.displayLogos { margin-top: 14px; }
	#header .menuApps.displayLogos .logoStore { display: inline-block; width: 48px; height: 55px; margin-left: 10px; }
	#header .menuApps.displayLogos .logoApp { display: none; }

	#header .menuMain, #header .menuMain li, #header .menuMain li a { height: 22px; line-height: 22px; }
	#header .menuMain { float: left; margin-top: 24px; }
	#header .menuMain .separator { background-color: #555; margin: 0 40px; }
	
	#header .menuSocial, #header .menuSocial li, #header .menuSocial li a, #header .menuSocial li a img { height: 31px; }
	#header .menuSocial { float: right; margin-top: 17px; }
	#header .menuSocial li { margin-left: 5px; float: right; }

/*  ------------------  contenido  ------------------- */
#content .container {  }


	/*  ------------------  cajas en el home  ------------------- */
	.mediaBoxContainer { position: relative; color: #fafaff; /*background: rgba(170,255,60,.2);*/ }
	.box { float: left; border-bottom: 1px solid #fff; overflow: hidden; position: relative; }

	.box3, .box4, .box6 { float: right; }
	.box6 { margin-top: -216px; }

	.box4, .box5, .box6, .box7, .box8 { border-top: 1px solid #fff; }
	.box1, .box2, .box4, .box5, .box7 { border-right: 1px solid #fff; }
	.box7, .box8 { border-bottom: 2px solid #fff; }
	.box2, .box3, .box4, .box6, .box8 { border-left: 1px solid #fff; }

	.box1, .box2, .box4, .box5 { width: 425px; }
	.box3, .box6, .box8 { width: 426px; }
	.box7 { width: 852px; }

	.box1, .box3, .box4, .box7, .box8 { height: 432px; }
	.box2, .box5, .box6 { height: 214px; }
	/*.box7, .box8 { height: 360px; }*/

	.box .mediaInfoBox { position: absolute; background: rgba(0,0,0,.7); bottom: -153px; left: 0; height: 153px; width: 100%; }
		.mediaInfoBox .btn { position: absolute; top: 93px; right: 15px;  }
		.mediaInfoBox h3, .mediaInfoBox ul { position: absolute; }
		.mediaInfoBox h3 { top: 0; left: 0; display: block; width: 38%; margin-top: 0; padding-top: 42px; padding-left: 4%; padding-right: 2%; font-family: 'HelveticaNeueBoldCondensed','YanoneRegular',Helvetica,sans-serif; font-size: 32px; text-transform: uppercase; }
		.mediaInfoBox ul { bottom: 0; right: 0; padding-bottom: 15px; display: block; width: 56%; font-size: 13px; }
			.mediaInfoBox li { font-family: 'LatoHairline',Helvetica,sans-serif; font-size: 15px; line-height: 15px; padding: 5px 0; }
			.mediaInfoBox li span { font-family: 'LatoRegular','YanoneLight',Helvetica,sans-serif; font-size: 13px; }
	.box .mediaItemBox img, .box .mediaItemBox iframe { width: 100%; height: 100%; }


/*
videoItemBox">
								<div class="mediaItemBox">
									<div>
										<iframe
*/
	@-moz-document url-prefix() { 
	  .videoItemBox .mediaItemBox {/*w:425px; h:432px;*/
	     width: 419px;
	     height: 428px;
	     margin: 2px auto;
	  }
	}

/*  ------------------  footer  ------------------- */
#footer { position: fixed; bottom: 0; height: 46px; background: #1f1f1f url(../img/bg_footer.jpg) repeat top; }
#footer a, #footer p { color: #626262; margin-top: 23px; font-size: 12px; font-weight: bold; }
#footer p { width: auto; float: right; margin-right: 145px; }
#footer a { display: block; width: auto; float: left; margin-left: 155px; }
#footer a:hover { text-decoration: underline; }
