@font-face {
    font-family: 'YanoneBold';
    src: url('../fonts/YanoneKaffeesatz-Bold..ttf') format('truetype');
	src: url('../fonts/YanoneKaffeesatz-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YanoneLight';
    src: url('../fonts/YanoneKaffeesatz-Light..ttf') format('truetype');
	src: url('../fonts/YanoneKaffeesatz-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YanoneRegular';
    src: url('../fonts/YanoneKaffeesatz-Regular..ttf') format('truetype');
	src: url('../fonts/YanoneKaffeesatz-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YanoneThin';
    src: url('../fonts/YanoneKaffeesatz-Thin..ttf') format('truetype');
	src: url('../fonts/YanoneKaffeesatz-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}