@charset "UTF-8";
/* CSS Document */
/*
* (es) Estilos Para Fuentes
* (en) Fonts Stylesheet
*
* @creator Susana Aguirre
* @proyect YalKu Mexico
* @file fonts.css
* @05/09/2013
*
*/
/*************************** YANONE ****************************/
@font-face {
    font-family: 'YanoneBold';
    src: url('../fonts/YanoneKaffeesatz-Bold.ttf') format('truetype');
	src: url('../fonts/YanoneKaffeesatz-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YanoneLight';
    src: url('../fonts/YanoneKaffeesatz-Light.ttf') format('truetype');
	src: url('../fonts/YanoneKaffeesatz-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YanoneRegular';
    src: url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
	src: url('../fonts/YanoneKaffeesatz-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YanoneThin';
    src: url('../fonts/YanoneKaffeesatz-Thin.ttf') format('truetype');
	src: url('../fonts/YanoneKaffeesatz-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/*************************** LATO ****************************/
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/Lato-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*************************** Lato ****************************/
@font-face {
    font-family: 'HelveticaNeueBoldCondensed';
    src: url('../fonts/HelveticaNeueLTPro-BdCn.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}/**/
/*@font-face {
    font-family: 'HelveticaNeueBoldCondensed';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}/**/
@font-face {
    font-family: 'HelveticaNeueLTBoldCondensed';
    src: url('../fonts/HelveticaNeueLTPro-LtCn.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}/**/
