@charset "UTF-8";
/* CSS Document */
/*
 * (es) Estilos para la p'agina de inicio
 * (en) home stylesheet
 * 
 * @creator Susana Aguirre
 * @project YalKu Mexico
 * @file home.css
 * @17/DIC/2013
 */
/*  ------------------  HOME  ------------------- */
#container { padding-bottom: 60px; }
.mediaBoxContainer { position: relative; color: #fafaff; /*background: rgba(170,255,60,.2);*/ }
.box { float: left; overflow: hidden; position: relative; }

.mediaBox { width: 340px; height: 345px; margin-left: 1px; margin-bottom: 1px; }

.box .mediaInfoBox { position: absolute; background: rgba(0,0,0,.7); background: url("../../img/bg-transparente-0.7.png") repeat; bottom: -153px; left: 0; height: 153px; width: 100%; }
	.mediaInfoBox .btn { position: absolute; top: 112px; right: 8px;  }
	.mediaInfoBox h3, .mediaInfoBox ul { position: absolute; }
	.mediaInfoBox h3 { top: 0; left: 0; display: block; width: 38%; margin-top: 0; padding-top: 25px; padding-left: 4.5%; padding-right: 2%; 
		font-family: 'HelveticaNeueBoldCondensed','YanoneRegular',Helvetica,sans-serif; font-size: 20px; line-height: 26px; text-transform: uppercase; }
	.mediaInfoBox ul { top: 0; right: 0; padding-top: 23px; display: block; width: 56%; font-size: 13px; }
		.mediaInfoBox li { font-family: 'HelveticaNeueBoldCondensed','YanoneRegular',Helvetica,sans-serif; font-size: 12px; line-height: 15px; padding: 4px 0; }
		.mediaInfoBox li span { font-family: 'HelveticaNeueBoldCondensed','YanoneRegular',Helvetica,sans-serif; /*'LatoRegular','YanoneLight',Helvetica,sans-serif;*/ font-weight: bold; }

.box .mediaItemBox, .box .mediaItemBox .imageItemBox, .box .mediaItemBox iframe, .box .mediaItemBox img { width: 100%; height: 100%; }
	.imageItemBox { overflow: hidden; position: relative; }
	.box .imageItemBox img { display: block; position: absolute; top: 0; left: -50%; width: auto; }


